/*
    BitWarp Demo client application styles.

    Table of Contents:
    1. GENERAL STYLES
    2. TYPOGRAPHY
    3. LAYOUT
    4. COMPONENTS
    5. UTILS
    6. ANIMATIONS
 */
/*
    1. GENERAL STYLES
 */
* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*
    2. TYPOGRAPHY
 */

/*
    3. LAYOUT
 */

/*
    4. COMPONENTS
 */

/*
    5. UTILS
 */

/*
    6. ANIMATIONS
 */